name: build-web

on:
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and Push Web
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          file: ./docker/development/Dockerfile
          context: .
          push: true
          tags: steemit/steemdb:development,steemit/steemdb:latest
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
